@model Baocao_chuyende.Models.Brand

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Danh mục/</span> Xóa danh mục</h4>

    <!-- Basic Layout & Basic with Icons -->
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <!-- Basic Layout -->
            <div class="col-xxl">
                <div class="card mb-4">
                    <div class="card-header d-flex align-items-center justify-content-between">
                        <h5 class="mb-0">Bạn có muốn xóa danh mục này?</h5>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label" for="basic-default-name">@Html.DisplayNameFor(model => model.nameBrands)</label>
                                <div class="col-sm-10">
                                    @Html.EditorFor(model => model.nameBrands, new { htmlAttributes = new { @class = "form-control", @id = "basic-default-name" } })
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">Logo nhãn hàng</label>
                                <div class="col-sm-10">
                                    @if (!string.IsNullOrEmpty(Model.imageBrands))
                                    {
                                        <img id="selectedImage" src="@Url.Content($"~/UpLoad/Brands/{Model.imageBrands}")" alt="Ảnh được chọn" style="max-width: 200px; max-height: 200px; margin-top: 10px;" />
                                    }
                                </div>
                            </div>
                            <div class="row justify-content-end">
                                <div class="col-sm-10">
                                    <button type="submit" class="btn btn-primary">Xóa</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<div class="buy-now">
    <a href="@Url.Action("Brand", "Brands")" class="btn btn-danger btn-buy-now">Quay lại</a>
</div>