@using PagedList;
@using PagedList.Mvc
@model IPagedList<Baocao_chuyende.Models.ProductDetail>

@{
    ViewBag.Title = "ProductDetail";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}

<div class="container-xxl flex-grow-1 container-p-y">
    <div class="card">
        <h5 class="card-header">Danh sách chi tiết sản phẩm</h5>
        <div class="table-responsive text-nowrap">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            STT
                        </th>
                        <th>
                            Màu
                        </th>
                        <th>
                            Tên sản phẩm
                        </th>
                        <th>
                            Size
                        </th>
                        <th>
                            Ảnh
                        </th>
                        <th>
                            Chức năng
                        </th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Color.nameColor)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Product.nameProduct)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Size.nameSize)
                            </td>
                            <td>
                                <img src="@Url.Content("~/UpLoad/Product/" + item.image)" alt="Image" style="width: 100px;" />
                            </td>
                            <td>
                                <div class="dropdown">
                                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                        <i class="bx bx-dots-vertical-rounded"></i>
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="@Url.Action("Edit", "ProductDetail", new { id = item.id })"><i class="bx bx-edit-alt me-1"></i> Chỉnh sửa</a>
                                        <a class="dropdown-item" href="@Url.Action("Delete", "ProductDetail", new { id = item.id })"><i class="bx bx-trash me-1"></i> Xóa</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div style="text-align: center; margin: 30px">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions { Display = PagedListDisplayMode.IfNeeded })
    </div>
    <style>
        .pagination a {
            font-size: 20px;
            margin: 10px;
            padding: 10px 15px;
            border-radius: 10px;
        }
    </style>
    <!--/ Basic Bootstrap Table -->
    <div class="buy-now">
        <a href="@Url.Action("Create", "ProductDetail")" class="btn btn-danger btn-buy-now">Thêm mới</a>
    </div>
</div>