@model Baocao_chuyende.Models.Product

@{
    ViewBag.Title = "Thêm sản phẩm mới";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}

<div class="container-xxl flex-grow-1 container-p-y">
    <!-- Basic Layout & Basic with Icons -->
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <!-- Basic Layout -->
            <div class="col-xxl">
                <div class="card mb-4">
                    <div class="card-header d-flex align-items-center justify-content-between">
                        <h5 class="mb-0">@ViewBag.Title</h5>
                    </div>
                    <div class="card-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <form>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label" for="basic-default-name">Tên sản phẩm</label>
                                <div class="col-sm-10">
                                    @Html.EditorFor(model => model.nameProduct, new { htmlAttributes = new { @class = "form-control", @id = "basic-default-name", @placeholder = "Nhập tên sản phâmr" } })
                                    @Html.ValidationMessageFor(model => model.nameProduct, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label" for="basic-default-name">Danh mục sản phẩm</label>
                                <div class="col-sm-10">
                                    @Html.DropDownList("idCategory", null, htmlAttributes: new { @class = "form-control", @onchange = "getTypesByCategory()", @id = "idCategoryDropdown" })
                                    @Html.ValidationMessageFor(model => model.idCategory, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label" for="basic-default-name">Nhãn hàng</label>
                                <div class="col-sm-10">
                                    @Html.DropDownList("idBrands", null, htmlAttributes: new { @class = "form-control", @id = "basic-default-name" })
                                    @Html.ValidationMessageFor(model => model.idBrands, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label" for="basic-default-name">Phân loại</label>
                                <div class="col-sm-10">
                                    <div class="col-sm-10">
                                        @Html.DropDownList("idType", null, htmlAttributes: new { @class = "form-control", @id = "idTypeDropdown" })
                                        @Html.ValidationMessageFor(model => model.idType, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label" for="basic-default-name">Giá nhập</label>
                                <div class="col-sm-10">
                                    @Html.EditorFor(model => model.cost, new { htmlAttributes = new { @class = "form-control", @id = "basic-default-name", @placeholder = "Nhập giá nhập", @type = "number", @step = "any" } })
                                    @Html.ValidationMessageFor(model => model.cost, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label" for="basic-default-name">Giá bán</label>
                                <div class="col-sm-10">
                                    @Html.EditorFor(model => model.price, new { htmlAttributes = new { @class = "form-control", @id = "basic-default-name", @placeholder = "Nhập giá bán", @type = "number", @step = "any" } })
                                    @Html.ValidationMessageFor(model => model.price, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label" for="basic-default-name">Hàng còn</label>
                                <div class="col-sm-10">
                                    @Html.EditorFor(model => model.inventory, new { htmlAttributes = new { @class = "form-control", @id = "basic-default-name", @placeholder = "Nhập hàng tồn" } })
                                    @Html.ValidationMessageFor(model => model.inventory, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label" for="basic-default-name">Mô tả</label>
                                <div class="col-sm-10">
                                    @Html.TextAreaFor(x => x.description, new { @class = "form-control", @id = "txtDetail" })
                                </div>
                            </div>
                            <div class="row justify-content-end">
                                <div class="col-sm-10">
                                    <button type="submit" class="btn btn-primary">Thêm mới</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<div class="buy-now">
    <a href="@Url.Action("Index", "Product")" class="btn btn-danger btn-buy-now">Quay lại</a>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
    $('#idCategoryDropdown').change(function () {
        var categoryId = $(this).val();

        $.ajax({
            url: '@Url.Action("GetTypesByCategory", "Product")',
            type: 'GET',
            dataType: 'json',
            data: { categoryId: categoryId },
            success: function (data) {
                var typesDropdown = $('#idTypeDropdown');
                typesDropdown.empty();
                $.each(data, function (index, item) {
                    typesDropdown.append($('<option></option>').val(item.value).text(item.text));
                });
            },
            error: function () {
                alert('An error occurred while fetching the list of product types.');
            }
        });
    });
});
</script>
@section scripts{
    <script>
        $(document).ready(function () {
            CKEDITOR.replace('txtDetail', {
                customConfig: '/support/ckeditor/config.js',
                extraAllowedContent: 'span',
            });
        });
    </script>
}