@model Baocao_chuyende.Models.Product

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Phân loại/</span> Xóa phân loại</h4>

    <!-- Basic Layout & Basic with Icons -->
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <!-- Basic Layout -->
            <div class="col-xxl">
                <div class="card mb-4">
                    <div class="card-header d-flex align-items-center justify-content-between">
                        <h5 class="mb-0">Bạn có muốn xóa phân loại sản phẩm này?</h5>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label" for="basic-default-name">@Html.DisplayNameFor(model => model.nameProduct)</label>
                                <div class="col-sm-10">
                                    @Html.EditorFor(model => model.nameProduct, new { htmlAttributes = new { @class = "form-control", @id = "basic-default-name" } })
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label" for="basic-default-name">@Html.DisplayNameFor(model => model.idCategory)</label>
                                <div class="col-sm-10">
                                    @Html.EditorFor(model => model.Category.nameCategory, new { htmlAttributes = new { @class = "form-control", @id = "basic-default-name" } })
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label" for="basic-default-name">@Html.DisplayNameFor(model => model.idBrands)</label>
                                <div class="col-sm-10">
                                    @Html.EditorFor(model => model.Brand.nameBrands, new { htmlAttributes = new { @class = "form-control", @id = "basic-default-name" } })
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label" for="basic-default-name">@Html.DisplayNameFor(model => model.idType)</label>
                                <div class="col-sm-10">
                                    @Html.EditorFor(model => model.TypeProduct.nameType, new { htmlAttributes = new { @class = "form-control", @id = "basic-default-name" } })
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label" for="basic-default-name">@Html.DisplayNameFor(model => model.cost)</label>
                                <div class="col-sm-10">
                                    @Html.EditorFor(model => model.cost, new { htmlAttributes = new { @class = "form-control", @id = "basic-default-name" } })
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label" for="basic-default-name">@Html.DisplayNameFor(model => model.price)</label>
                                <div class="col-sm-10">
                                    @Html.EditorFor(model => model.price, new { htmlAttributes = new { @class = "form-control", @id = "basic-default-name" } })
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label" for="basic-default-name">@Html.DisplayNameFor(model => model.inventory)</label>
                                <div class="col-sm-10">
                                    @Html.EditorFor(model => model.inventory, new { htmlAttributes = new { @class = "form-control", @id = "basic-default-name" } })
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label" for="basic-default-name">@Html.DisplayNameFor(model => model.description)</label>
                                <div class="col-sm-10">
                                    @Html.TextAreaFor(model => model.description, new { @class = "form-control", @id = "basic-default-name", @placeholder = "Nhập mô tả", rows = 4 })
                                </div>
                            </div>
                            <div class="row justify-content-end">
                                <div class="col-sm-10">
                                    <button type="submit" class="btn btn-primary">Xóa</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<div class="buy-now">
    <a href="@Url.Action("Product", "Product")" class="btn btn-danger btn-buy-now">Quay lại</a>
</div>