@model IEnumerable<Baocao_chuyende.Models.Blog>
@{
    ViewBag.Title = "Blog";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light"> Blog /</span> Bài viết</h4>
    <!-- Basic Bootstrap Table -->

    <div class="card">
        <h5 class="card-header">Danh sách các Bài viết</h5>
        <div class="table-responsive text-nowrap">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Mã Blog
                        </th>
                        <th>
                            Tiêu đề
                        </th>
                        <th>
                            Ảnh nổi bật
                        </th>
                        <th>
                            Chức năng
                        </th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    @foreach (var blog in Model)
                    {
                        <tr>
                            <td>
                                @blog.id
                            </td>
                            <td>
                                @blog.titleBlog
                            </td>
                            <td>
                                <img src="@Url.Content("~/UpLoad/Blog/" + blog.imageTitle)" alt="Image" style="width: 100px;" />
                            </td>
                            <td>
                                <div class="dropdown">
                                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                        <i class="bx bx-dots-vertical-rounded"></i>
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="@Url.Action("EditBlog", "Blog", new { id = blog.id})"><i class="bx bx-edit-alt me-1"></i> Chỉnh sửa</a>
                                        <a class="dropdown-item" href="@Url.Action("DeleteBlog", "Blog", new { id = blog.id})"><i class="bx bx-trash me-1"></i> Xóa</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <!--/ Basic Bootstrap Table -->
    <div class="buy-now">
        <a href="@Url.Action("CreateBlog", "Blog")" class="btn btn-danger btn-buy-now">Thêm mới</a>
    </div>
</div>
