@using PagedList;
@using PagedList.Mvc
@model IPagedList<Baocao_chuyende.Models.Blog>

@{
    ViewBag.Title = "Bài viết";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}

<div class="container-xxl flex-grow-1 container-p-y">
    <div class="card">
        <h5 class="card-header">@ViewBag.Title</h5>
        <div class="table-responsive text-nowrap">
            <table class="table">
                <thead>
                    <tr>
                        <th><input type="checkbox" id="SelectAll" /></th>
                        <th>
                            STT
                        </th>
                        <th>
                            Tiêu đề
                        </th>
                        <th>
                            Ảnh nổi bật
                        </th>
                        <th>
                            Chức năng
                        </th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    @foreach (var blog in Model)
                    {
                        <tr>
                            <td><input type="checkbox" class="cbkItem" value="@blog.id" /></td>
                            <td>
                                @blog.id
                            </td>
                            <td>
                                @blog.titleBlog
                            </td>
                            <td>
                                <img src="@Url.Content("~/UpLoad/Blog/" + blog.imageTitle)" alt="Image" style="width: 100px;" />
                            </td>
                            <td>
                                <div class="dropdown">
                                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                        <i class="bx bx-dots-vertical-rounded"></i>
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="@Url.Action("EditBlog", "Blog", new { id = blog.id})"><i class="bx bx-edit-alt me-1"></i> Chỉnh sửa</a>
                                        <a class="dropdown-item btn-delete" data-id="@blog.id"><i class="bx bx-trash me-1"></i> Xóa</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="buy-now">
                <a href="@Url.Action("CreateBlog", "Blog")" style="margin-right: 180px;" class="btn btn-danger btn-buy-now">Thêm mới</a>
                <a href="#" class="btn btn-danger btn-buy-now" id="btnDeleteAll">Xóa nhiều bản lưu</a>
            </div>
        </div>
    </div>
    <!--/ Basic Bootstrap Table -->
    <div style="text-align: center; margin: 30px">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions { Display = PagedListDisplayMode.IfNeeded })
    </div>
    <style>
        .pagination a {
            font-size: 20px;
            margin: 10px;
            padding: 10px 15px;
            border-radius: 10px;
        }
    </style>
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            $('body').on('click', '#btnDeleteAll', function () {
                var str = "";
                var i = 0;
                var checkboxes = $('.cbkItem:checked');
                checkboxes.each(function () {
                    var _id = $(this).val();
                    if (i === 0) {
                        str += _id;
                    } else {
                        str += "," + _id;
                    }
                    i++;
                });
                if (str.length > 0) {
                    var confr = confirm("Bạn có muốn xóa các bản ghi không?");
                    if (confr === true) {
                        $.ajax({
                            url: '/Admin/Blog/DeleteAll',
                            type: 'POST',
                            data: { ids: str },
                            success: function (rs) {
                                if (rs.success) {
                                    location.reload();
                                }
                            }
                        });
                    }
                } else {
                    alert("Vui lòng chọn ít nhất một bản ghi để xóa.");
                }
            });
            $('body').on('change', '#SelectAll', function () {
                var checkStatus = this.checked;
                var checkbox = $(this).parents('.table-responsive').find('tr td input:checkbox');
                checkbox.each(function () {
                    this.checked = checkStatus;
                    if (this.checked) {
                        checkbox.attr('selected', 'checked');
                    } else {
                        checkbox.attr('selected', '');
                    }
                });
            });
            $('body').on('click', '.btn-delete', function () {
                var id = $(this).data("id");
                var confr = confirm("Bạn có muốn xóa không?");
                if (confr === true) {
                    $.ajax({
                        url: '/Admin/Blog/Delete',
                        type: 'POST',
                        data: { id: id },
                        success: function (rs) {
                            if (rs.success) {
                                $('#delete' + id).remove();
                                location.reload();
                            }
                        }
                    });
                }
            });
        });
    </script>
}